In [47]:
import mariadb
import pandas as pd
import json
from datetime import datetime


# Conectar ao banco de dados
conexao = mariadb.connect(
    host="54.196.208.38",
    user="root",
    password="qiykGUao3R.D",
    database="IDPB",
    port=3306
)

# Criar um cursor
sql = conexao.cursor()

# Executar a consulta
sql.execute("SELECT * FROM membros")
resultados = sql.fetchall()

# Obter a descrição das colunas
colunas = [desc[0] for desc in sql.description]

# Fechar o cursor e a conexão
sql.close()
conexao.close()

# Criar um DataFrame com os resultados
df_membros = pd.DataFrame(resultados, columns=colunas)

# Exibir o DataFrame
#df_membros

In [48]:
df_membros.head(1)

,cpf,nome_completo,data_nascimento,genero,numero_celular,email,estado_civil,numero_celula,participacao_ministerio,data_batismo,data_conversao,escolaridade,profissao,cep,rua,bairro,cidade,uf,numero,receber_noticias
0,014.975.283-05,Bianca da Cruz,1945-04-03,Masculino,(92)963175620,nmachado@example.net,Solteiro(a),3,Eventos/Cerimonial,2023-10-20,2024-05-19,Fundamental,Entalhador,69019-790,Estrada de Silva,Aparecida,Manaus,AM,887,Não

In [49]:
# Contagem de membros
total_membros = df_membros['cpf'].nunique()
total_membros

100

In [50]:
# Contagem de profissões
todas_profissoes = df_membros['profissao']
todas_profissoes = todas_profissoes.tolist()
todas_profissoes

['Entalhador',
 'Patologista',
 'Corredor de atletismo',
 'Mensageiro',
 'Filósofo',
 'Agricultor',
 'Desembargador de justiça',
 'Diretor de produção',
 'Vigia parlamentar',
 'Militar da Aeronáutica',
 'Embaixador',
 'Digitador',
 'Surfista',
 'Operador de telemarketing',
 'Subprefeito',
 'Farmacêutico',
 'Produtor de multimídia',
 'Massoterapeuta',
 'Costureira',
 'Engenheiro mecatrônico',
 'Headhunter',
 'Naturólogo',
 'Lanterneiro',
 'Ginecologista',
 'Tecnólogo em produção Sucroalcooleira',
 'Cadeirinha',
 'Capataz',
 'Odontologista preventivo e social',
 'Microfonista',
 'Digitador',
 'Escriturário',
 'Quadrinista',
 'Marinheiro',
 'Hematologista',
 'Engenheiro sanitarista',
 'Feirante',
 'Engenheiro de materiais',
 'Biólogo',
 'Engenheiro de horticultura',
 'Pesquisador',
 'Tenista',
 'Governanta',
 'Acupunturista',
 'Pecuarista',
 'Maestro',
 'Ambulante',
 'Coach',
 'Ciclista',
 'Corretor da bolsa de valores',
 'Meteorologista',
 'Paisagista',
 'Auxiliar de reprografia',
 'Promotor de eventos',
 'Reumatologista',
 'Intérprete',
 'Marechal',
 'Subprefeito',
 'Modelista',
 'Neurocirurgião',
 'Navegador',
 'Técnico em desporto',
 'Baixista',
 'Eletricista',
 'Designer de interiores',
 'Nadador',
 'Cortador de cana-de-açucar',
 'Cancerologista ou Oncologista',
 'Advogado',
 'Zootecnista',
 'Escriturário',
 'Tecnólogo em automação industrial',
 'Lutador de taekwondo',
 'Engenheiro elétrico',
 'Tecnólogo em navegação fluvial',
 'Jogador de futebol',
 'Editor',
 'Porteiro',
 'Diretor de produção',
 'Ceramista',
 'Engenheiro mecânico',
 'Encarregado de manutenção predial',
 'Borracheiro',
 'Pediatra',
 'Classificador contábil',
 'Percursionista',
 'Engraxate',
 'Endodontista',
 'Flautista',
 'Serventuário',
 'Meeiro',
 'Marinheiro',
 'Tecnólogo em jogos digitais',
 'Advogado',
 'Estoquista',
 'Orientador educacional',
 'Regente',
 'Fundidor de placa de gesso',
 'Designer de produto ou desenhista industrial',
 'Lixeiro/Coletor de lixo',
 'Chaveiro']

In [51]:
# Calcular as idades
current_year = datetime.now().year
df_membros['data_nascimento'] = pd.to_datetime(df_membros['data_nascimento'], format='%Y-%m-%d')
df_membros['idade'] = current_year - df_membros['data_nascimento'].dt.year

# Calcular total de crianças (até 12 anos)
total_criancas = df_membros[df_membros['idade'] <= 12].shape[0]

# Calcular total de jovens (13 até 29 anos)
total_jovens = df_membros[(df_membros['idade'] >= 13) & (df_membros['idade'] <= 29)].shape[0]

# Calcular total de idosos (+60)
total_idosos = df_membros[df_membros['idade'] >= 60].shape[0]

# Calcular totais de relacionamentos
totais_relacionamentos = df_membros['estado_civil'].value_counts().to_dict()

# Calcular totais de escolaridade
totais_escolaridade = df_membros['escolaridade'].value_counts().to_dict()

# Calcular o total de homens acima de 12 anos
total_homens = df_membros[(df_membros['idade'] > 12) & (df_membros['genero'] == 'Masculino')].shape[0]

# Calcular total mulheres acima de 12 anos
total_mulheres = df_membros[(df_membros['idade'] > 12) & (df_membros['genero'] == 'Feminino')].shape[0]

# Calcular contagem pelo número da célula
contagem_por_celula = df_membros['numero_celula'].value_counts().to_dict()



# Exibir os resultados
print(f'Total de Pessoas: {total_membros}')
print(f'Total de Crianças (até 12 anos): {total_criancas}')
print(f'Total de Jovens (13 até 29 anos): {total_jovens}')
print(f'Total de Idosos (+60): {total_idosos}')
print(f'Totais de Relacionamentos: {totais_relacionamentos}')
print(f'Totais de Escolaridade: {totais_escolaridade}')
print(f'Totais de Homens: {total_homens}')
print(f'Totais de Mulheres: {total_mulheres}')
print(f'Contagem por Célula: {contagem_por_celula}')

Total de Pessoas: 100
Total de Crianças (até 12 anos): 0
Total de Jovens (13 até 29 anos): 18
Total de Idosos (+60): 35
Totais de Relacionamentos: {'Solteiro(a)': 35, 'Casado(a)': 23, 'Viúvo(a)': 22, 'Divorciado(a)': 20}
Totais de Escolaridade: {'Mestrado': 23, 'Doutorado': 19, 'Superior': 17, 'Fundamental': 16, 'Pós-graduação': 15, 'Médio': 10}
Totais de Homens: 53
Totais de Mulheres: 47
Contagem por Célula: {'7': 15, '4': 14, '1': 12, '2': 10, '9': 10, '5': 9, '6': 9, '3': 8, '8': 8, '10': 5}

In [52]:
# Conectar ao banco de dados
conexao = mariadb.connect(
    host="54.196.208.38",
    user="root",
    password="qiykGUao3R.D",
    database="IDPB",
    port=3306
)

# Criar um cursor
sql = conexao.cursor()

# Executar a consulta
sql.execute("SELECT * FROM usuarios")
resultados = sql.fetchall()

# Obter a descrição das colunas
colunas = [desc[0] for desc in sql.description]

# Fechar o cursor e a conexão
sql.close()
conexao.close()

# Criar um DataFrame com os resultados
df_usuarios = pd.DataFrame(resultados, columns=colunas)

# Exibir o DataFrame
#df_usuarios

In [53]:
df_usuarios

,id_Usuario,email,senha,nome,numero_celula,numero_supervisao,numero_coordenacao
0,1,felipedgart@gmail.com,$2y$10$wEJv0l2kJW5/MSvryZybK.BXKCJyCvarS4.92E3...,Felipe da Silva Araujo,1,1,1
1,2,chrisdynamus@gmail.com,$2y$10$ToMhRETjAKwec5FosRRkcuT0SOxwX3evhxwndnJ...,Christopher Filipe Rodrigues dos Santos,2,2,2
2,3,ediel.purim@gmail.com,$2y$10$Kfdijb4mcLJy3f.kIvwkguHfWDic7axZnumFqtY...,Ediel,3,3,3

In [94]:
# Total de usuários do sistema
total_usuarios = df_usuarios['id_Usuario'].shape[0]
#total_usuarios

In [54]:
# Conectar ao banco de dados
conexao = mariadb.connect(
    host="54.196.208.38",
    user="root",
    password="qiykGUao3R.D",
    database="IDPB",
    port=3306
)

# Criar um cursor
sql = conexao.cursor()

# Executar a consulta
sql.execute("SELECT * FROM celulas")
resultados = sql.fetchall()

# Obter a descrição das colunas
colunas = [desc[0] for desc in sql.description]

# Fechar o cursor e a conexão
sql.close()
conexao.close()

# Criar um DataFrame com os resultados
df_celulas = pd.DataFrame(resultados, columns=colunas)

# Exibir o DataFrame
#df_celulas

In [55]:
df_celulas.to_csv('dados_celulas.csv', index=False)

In [87]:
# Garantir que os tipos de dados das colunas sejam consistentes
df_membros['numero_celula'] = df_membros['numero_celula'].astype(int)
df_celulas['numero_celula'] = df_celulas['numero_celula'].astype(int)

# Mesclar df_membros com df_celulas para obter supervisão e coordenação dos membros
df_membros_celulas = pd.merge(df_membros, df_celulas, on='numero_celula')

# Contagem de células por supervisão
contagem_celulas_supervisao = df_celulas.groupby('numero_supervisao')['numero_celula'].count().reset_index()
contagem_celulas_supervisao.columns = ['numero_supervisao', 'contagem_celulas']

# Contagem de membros por supervisão
contagem_membros_supervisao = df_membros_celulas.groupby('numero_supervisao')['cpf'].count().reset_index()
contagem_membros_supervisao.columns = ['numero_supervisao', 'contagem_membros']

# Mesclar contagens de células e membros por supervisão
contagem_supervisao = pd.merge(contagem_celulas_supervisao, contagem_membros_supervisao, on='numero_supervisao')

# Contagem de células por coordenação
contagem_celulas_coordenacao = df_celulas.groupby('numero_coordenacao')['numero_celula'].count().reset_index()
contagem_celulas_coordenacao.columns = ['numero_coordenacao', 'contagem_celulas']

# Contagem de membros por coordenação
contagem_membros_coordenacao = df_membros_celulas.groupby('numero_coordenacao')['cpf'].count().reset_index()
contagem_membros_coordenacao.columns = ['numero_coordenacao', 'contagem_membros']

# Mesclar contagens de células e membros por coordenação
contagem_coordenacao = pd.merge(contagem_celulas_coordenacao, contagem_membros_coordenacao, on='numero_coordenacao')

In [88]:
# Transformar para dicionário / Coordenação
contagem_coordenacao = contagem_coordenacao.set_index('numero_coordenacao').to_dict(orient='index')
contagem_coordenacao = {k: {'contagem_celulas': v['contagem_celulas'], 'contagem_membros': v['contagem_membros']} for k, v in contagem_coordenacao.items()}

# Transformar para dicionário / Supervisão
contagem_supervisao = contagem_supervisao.set_index('numero_supervisao').to_dict(orient='index')
contagem_supervisao = {k: {'contagem_celulas': v['contagem_celulas'], 'contagem_membros': v['contagem_membros']} for k, v in contagem_supervisao.items()}

In [104]:
# Converte a coluna de data de nascimento para o formato de data
df_membros['data_nascimento'] = pd.to_datetime(df_membros['data_nascimento'])

# Obtém o mês e ano atual
hoje = datetime.now()
mes_atual = hoje.month

# Adiciona colunas para o mês de nascimento e o ano de nascimento
df_membros['mes_nascimento'] = df_membros['data_nascimento'].dt.month

# Filtra os aniversariantes do mês atual
aniversariantes_mes_atual = df_membros[df_membros['mes_nascimento'] == mes_atual]

# Cria o dicionário com a data de aniversário como chave e um dicionário com nome e CPF como valor
aniversariantes_mes = {}
for index, row in aniversariantes_mes_atual.iterrows():
    data_nascimento = row['data_nascimento'].strftime('%Y-%m-%d')
    aniversariantes_mes[data_nascimento] = {
        'nome_completo': row['nome_completo'],
        'cpf': row['cpf']
    }

{'2000-07-11': {'nome_completo': 'Esther Brito', 'cpf': '124.980.357-88'}, '1997-07-08': {'nome_completo': 'Ana Carolina Nogueira', 'cpf': '192.458.367-46'}, '1981-07-19': {'nome_completo': 'Dr. Benício Garcia', 'cpf': '350.718.496-66'}, '1964-07-05': {'nome_completo': 'Evelyn da Mata', 'cpf': '521.074.983-50'}, '1950-07-15': {'nome_completo': 'Dr. João Gabriel Fernandes', 'cpf': '807.436.521-26'}}

In [108]:
# Converte a coluna de data de conversão para o formato de data
df_membros['data_conversao'] = pd.to_datetime(df_membros['data_conversao'], errors='coerce')

# Cria o array com nome do membro e data de conversão
total_convertidos = []
for index, row in df_membros.iterrows():
    nome = row['nome_completo']
    data_conversao = row['data_conversao'].strftime('%Y-%m-%d') if pd.notna(row['data_conversao']) else None
    total_convertidos.append({
        'nome_completo': nome,
        'data_conversao': data_conversao
    })

# Imprime o resultado
print(total_convertidos)

[{'nome_completo': 'Bianca da Cruz', 'data_conversao': '2024-05-19'}, {'nome_completo': 'Enrico Araújo', 'data_conversao': '2024-04-13'}, {'nome_completo': 'João Ramos', 'data_conversao': '2024-01-19'}, {'nome_completo': 'Srta. Bella Siqueira', 'data_conversao': '2024-01-27'}, {'nome_completo': 'Ravi Lucca Novais', 'data_conversao': '2024-05-19'}, {'nome_completo': 'Ana Júlia Sá', 'data_conversao': '2024-02-26'}, {'nome_completo': 'Cauê Borges', 'data_conversao': '2024-06-23'}, {'nome_completo': 'Nicolas Cavalcanti', 'data_conversao': '2024-05-31'}, {'nome_completo': 'Bruna Nunes', 'data_conversao': '2024-02-15'}, {'nome_completo': 'Bella Moreira', 'data_conversao': '2024-01-11'}, {'nome_completo': 'Ísis Fonseca', 'data_conversao': '2024-07-13'}, {'nome_completo': 'Fernando Barbosa', 'data_conversao': '2024-02-26'}, {'nome_completo': 'Luiz Fernando Correia', 'data_conversao': '2024-06-14'}, {'nome_completo': 'Esther Brito', 'data_conversao': '2024-07-05'}, {'nome_completo': 'Vitor da Rosa', 'data_conversao': '2024-04-03'}, {'nome_completo': 'Apollo Machado', 'data_conversao': '2024-06-18'}, {'nome_completo': 'Ana Beatriz Pires', 'data_conversao': '2024-05-28'}, {'nome_completo': 'Lorenzo Marques', 'data_conversao': '2024-04-18'}, {'nome_completo': 'Isabella Freitas', 'data_conversao': '2024-03-10'}, {'nome_completo': 'Enrico Vargas', 'data_conversao': '2024-04-18'}, {'nome_completo': 'Isabel Melo', 'data_conversao': '2024-02-07'}, {'nome_completo': 'Ana Carolina Nogueira', 'data_conversao': '2024-01-10'}, {'nome_completo': 'Bianca Pinto', 'data_conversao': '2024-02-19'}, {'nome_completo': 'Eduarda da Paz', 'data_conversao': '2024-06-02'}, {'nome_completo': 'Fernanda Moreira', 'data_conversao': '2024-07-02'}, {'nome_completo': 'Ester Cirino', 'data_conversao': '2024-06-06'}, {'nome_completo': 'Daniela Cavalcante', 'data_conversao': '2024-03-08'}, {'nome_completo': 'Srta. Ágatha Ferreira', 'data_conversao': '2024-04-16'}, {'nome_completo': 'Lunna das Neves', 'data_conversao': '2024-07-07'}, {'nome_completo': 'Yuri Pereira', 'data_conversao': '2024-06-06'}, {'nome_completo': 'Dr. Enzo Gabriel Vasconcelos', 'data_conversao': '2024-05-07'}, {'nome_completo': 'Bella Araújo', 'data_conversao': '2024-04-26'}, {'nome_completo': 'Dra. Liz Barbosa', 'data_conversao': '2024-07-04'}, {'nome_completo': 'Joana Moraes', 'data_conversao': '2024-01-03'}, {'nome_completo': 'Matheus Moreira', 'data_conversao': '2024-04-07'}, {'nome_completo': 'Dr. Benício Garcia', 'data_conversao': '2024-05-23'}, {'nome_completo': 'Felipe Albuquerque', 'data_conversao': '2024-01-26'}, {'nome_completo': 'Sr. Brayan Martins', 'data_conversao': '2024-07-02'}, {'nome_completo': 'Emanuella Ribeiro', 'data_conversao': '2024-06-01'}, {'nome_completo': 'Rodrigo Sá', 'data_conversao': '2024-03-07'}, {'nome_completo': 'Lara Pires', 'data_conversao': '2024-07-09'}, {'nome_completo': 'Mariane Sá', 'data_conversao': '2024-06-25'}, {'nome_completo': 'Rael Cirino', 'data_conversao': '2024-06-19'}, {'nome_completo': 'Rodrigo Pereira', 'data_conversao': '2024-01-11'}, {'nome_completo': 'Emanuella Vargas', 'data_conversao': '2024-05-28'}, {'nome_completo': 'Dra. Laura Rezende', 'data_conversao': '2024-06-25'}, {'nome_completo': 'Matteo Abreu', 'data_conversao': '2024-06-07'}, {'nome_completo': 'Gustavo Cirino', 'data_conversao': '2024-01-09'}, {'nome_completo': 'Nicole Vargas', 'data_conversao': '2024-07-01'}, {'nome_completo': 'Benjamim Moraes', 'data_conversao': '2024-06-26'}, {'nome_completo': 'Luigi Macedo', 'data_conversao': '2024-07-10'}, {'nome_completo': 'Zoe Jesus', 'data_conversao': '2024-07-13'}, {'nome_completo': 'Evelyn da Mata', 'data_conversao': '2024-05-14'}, {'nome_completo': 'Thiago Vieira', 'data_conversao': '2024-02-23'}, {'nome_completo': 'Brayan Almeida', 'data_conversao': '2024-04-10'}, {'nome_completo': 'Srta. Alice Pacheco', 'data_conversao': '2024-02-07'}, {'nome_completo': 'Kaique Sales', 'data_conversao': '2024-01-11'}, {'nome_completo': 'Maria Fernanda Mendes', 'data_conversao': '2024-04-20'}, {'nome_completo': 'Nina Barros', 'data_conversao': '2024-01-20'}, {'nome_completo': 'Sr. Murilo Caldeira', 'data_conversao': '2024-01-25'}, {'nome_completo': 'Sara Pastor', 'data_conversao': '2024-01-01'}, {'nome_completo': 'Anthony Gabriel da Rosa', 'data_conversao': '2024-05-02'}, {'nome_completo': 'Ana Vitória Castro', 'data_conversao': '2024-07-17'}, {'nome_completo': 'Heitor Sampaio', 'data_conversao': '2024-04-29'}, {'nome_completo': 'Otávio Sampaio', 'data_conversao': '2024-01-20'}, {'nome_completo': 'Ester Silva', 'data_conversao': '2024-04-27'}, {'nome_completo': 'Natália Cassiano', 'data_conversao': '2024-02-04'}, {'nome_completo': 'Bella Caldeira', 'data_conversao': '2024-02-15'}, {'nome_completo': 'Mariana Aparecida', 'data_conversao': '2024-04-27'}, {'nome_completo': 'Valentim Rodrigues', 'data_conversao': '2024-01-18'}, {'nome_completo': 'Calebe Monteiro', 'data_conversao': '2024-03-13'}, {'nome_completo': 'Emilly da Rocha', 'data_conversao': '2024-03-14'}, {'nome_completo': 'Leonardo Camargo', 'data_conversao': '2024-07-17'}, {'nome_completo': 'Brenda Cardoso', 'data_conversao': '2024-04-30'}, {'nome_completo': 'Dante das Neves', 'data_conversao': '2024-02-21'}, {'nome_completo': 'José Freitas', 'data_conversao': '2024-01-02'}, {'nome_completo': 'Sra. Manuela Macedo', 'data_conversao': '2024-05-12'}, {'nome_completo': 'Maria Laura Vieira', 'data_conversao': '2024-06-16'}, {'nome_completo': 'Melissa Teixeira', 'data_conversao': '2024-02-26'}, {'nome_completo': 'Vicente Correia', 'data_conversao': '2024-05-13'}, {'nome_completo': 'Oliver Pacheco', 'data_conversao': '2024-05-05'}, {'nome_completo': 'Sra. Ayla Azevedo', 'data_conversao': '2024-05-30'}, {'nome_completo': 'Sra. Isabel Mendonça', 'data_conversao': '2024-04-24'}, {'nome_completo': 'Dr. João Gabriel Fernandes', 'data_conversao': '2024-04-13'}, {'nome_completo': 'Srta. Lunna Moraes', 'data_conversao': '2024-04-10'}, {'nome_completo': 'Allana Costa', 'data_conversao': '2024-03-14'}, {'nome_completo': 'Dra. Bianca Mendonça', 'data_conversao': '2024-05-14'}, {'nome_completo': 'Mariana Sales', 'data_conversao': '2024-05-06'}, {'nome_completo': 'Maria Cecília Pires', 'data_conversao': '2024-05-17'}, {'nome_completo': 'Lucca Porto', 'data_conversao': '2024-02-21'}, {'nome_completo': 'Dr. Diego da Conceição', 'data_conversao': '2024-02-13'}, {'nome_completo': 'Laura Fonseca', 'data_conversao': '2024-07-04'}, {'nome_completo': 'José Duarte', 'data_conversao': '2024-03-07'}, {'nome_completo': 'Allana Cunha', 'data_conversao': '2024-05-18'}, {'nome_completo': 'Carolina Rezende', 'data_conversao': '2024-01-31'}, {'nome_completo': 'Nina Lopes', 'data_conversao': '2024-06-09'}, {'nome_completo': 'João Lucas Fonseca', 'data_conversao': '2024-05-25'}, {'nome_completo': 'Kamilly Pinto', 'data_conversao': '2024-01-16'}, {'nome_completo': 'Maya Sousa', 'data_conversao': '2024-06-18'}, {'nome_completo': 'Marina Moura', 'data_conversao': '2024-07-16'}]

In [109]:
# Criar dicionário e salvar em JSON
dados_json = {
    "total_membros": total_membros,
    "profissoes": todas_profissoes,
    "total_criancas": total_criancas,
    "total_jovens": total_jovens,
    "total_idosos": total_idosos,
    "totais_relacionamentos": totais_relacionamentos,
    "totais_escolaridade":totais_escolaridade,
    "total_homens": total_homens,
    "total_mulheres": total_mulheres,
    "contagem_por_celula": contagem_por_celula,
    "contagem_supervisao": contagem_supervisao,
    "contagem_coordenacao": contagem_coordenacao,
    "total_usuarios": total_usuarios,
    "aniversariantes_mes": aniversariantes_mes,
    "total_convertidos": total_convertidos
    
}

In [110]:
# Salvar em um arquivo JSON
with open('dados_analisados.json', 'w', encoding='utf-8') as f:
    json.dump(dados_json, f, ensure_ascii=False, indent=4)