In [11]:
import mariadb

conexao = mariadb.connect(
    host="54.196.208.38",
    user="root",
    password="qiykGUao3R.D",
    database="IDPB",
    port=3306
)

sql = conexao.cursor()

sql.execute("SELECT * FROM usuarios")
resultados = sql.fetchall()

for registros in resultados:
    if registros[1]:
        print(registros)
        
sql.close()
conexao.close()

(1, 'Ana Oliveira', 'ana.oliveira@email.com', 32, 'SÃ£o Paulo')
(2, 'Carlos Ferreira', 'carlos.ferreira@email.com', 27, 'Rio de Janeiro')
(3, 'Juliana Santos', 'juliana.santos@email.com', 30, 'Belo Horizonte')